.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  margin-top: 100px;
  transform-origin: top center;
}

.form-button {
  padding: 10px;
  width: 150px;
  max-width: 300px;
  background-color: rgb(134, 75, 134);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 15px;
}

.form-container > input:focus {
  background-color: rgb(68, 68, 68);
}

.formLinkDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.formLink {
  color: aliceblue;
  text-align: center;
}

.form-input {
  padding: 10px;
  font-size: 25px;
}
